* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Aria, Helvetica, sans-serif;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(135deg, #4f46e5, #6366f1);
}
